@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fraunces:wght@100;300;600&display=swap');

:root {
    --bright-white: #fffbff;
    --title: #c34271;
    --shade: rgba(41, 38, 39, 0.4);
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(/img/test2.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
}

#title {
    color: var(--title);
    font-family: "Fraunces", sans-serif;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #000;
}

nav {
    display: flex;
    height: 90px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shade);
    border-bottom: 2px solid var(--bright-white);
}

.nav-list {
    margin: 0 40px;
    color: #ccc;
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

.nav-list:hover{
    color: #92817A;
    border-bottom: 2px solid #92817a;
    padding-bottom: 2px;
}

footer {
    height: 90px;
    border-top: 2px solid var(--bright-white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shade);
}

footer h1 {
    margin: auto;
}

#foot-tag {
    color: #ccc;
    font-family: "Fraunces", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
}